
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: rgb(48, 152, 221);
}
.pages{
  padding: 0 7%;
}